header {
    position: relative;
    background-color: #333;
    /* background-image: url('../images/bg.jpg'); */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header nav{
    position: absolute;
    width: fit-content;    
    height: 60px;    
    background-color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

nav .item{
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
}

#bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
}