header {
    background-color: #333;
    width: 100%;
    height: 100vh;
}

header nav{
    width: fit-content;    
    height: 60px;
    margin: 0 auto;
    background-color: white;
}

nav .item{
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
}