header {
    position: relative;
    background-color: #333;
    /* background-image: url('../images/bg.jpg'); */
    background-position: center;
    background-size: cover;
    width: 100%;
    height: 100vh;
}

header nav{
    position: absolute;
    width: fit-content;    
    height: 60px;    
    background-color: white;
    top: 0;
    left: 50%;
    transform: translateX(-50%);
    z-index: 2;
}

nav .item{
    display: inline-block;
    line-height: 60px;
    padding: 0 20px;
    cursor: pointer;
}

nav .item:hover{
    background-color: #1aeacb;
}

#bg-video{
    position: absolute;
    top: 0;
    left: 0;
    width: 100%;
    height: 100vh;
    object-fit: cover;
    z-index: 1;
    opacity: 0.7;
}

header .title{
    position: absolute;
    top: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    text-align: center;
    color: white;
    z-index: 2; 
}

header .title h4{
    font-size: 3.5rem;
    font-weight: 200;
    margin: 0;
    line-height: 3em;
    text-align: right;
}

header .title h1{
    font-size: 8rem;
    font-weight: 700;
    margin: 0;
}

header .button{
    position: absolute;
    bottom: 30%;
    left: 50%;
    transform: translate(-50%, -50%);
    z-index: 2; 
}


header .button a{
    display: inline-block;
    padding: 15px 30px;
    background-color: #1aeacb;
    color: rgb(38, 38, 38);
    text-decoration: none;
    font-size: 1.2rem;
    border-radius: 5px;
}

header .button:hover a{
    background-color: #0c4a48;
    color: white;
}


footer{
    width: 80%;
    margin: 0 auto;
}

#map{
    width: 100%;
    height: 400px;
}