body {
    width: 100%;
    box-sizing: border-box;
    padding: 0;
    margin: 0;
}

main {
    width: 80%;
    height: 100vh;
    margin: 0 auto;
    box-sizing: border-box;
    background-color: lightslategrey;
    padding: 32px;
}

article{
    display: inline-block;
    position: relative;
    margin: 0;
    margin-right: 30px;
    width: 20%;
    height: 200px;
    background-color: white;
    padding: 16px;
}

article:last-child {
    margin-right: 0;
}

article h1{
    text-align: center;
}

article .primary-button{
    position: absolute;
    bottom: 16px;
    left: 50%;
    transform: translateX(-50%);
    padding: 8px 16px;
    background-color: lightskyblue;
    border: none;
    cursor: pointer;
    width: 100px;
}

.primary-button h3{
    text-align: center;
}